.header {

  border-radius: 5px;
  text-transform: uppercase;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  grid-area: header;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  font-weight: 600;
  opacity: 0.7;
    position: relative;
    overflow: hidden;
}

@keyframes changeColor {
  0% {
    color: #ff6600;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #0000ff;
  }
}

.figure1 {
  animation: figureTransform  2s 1.5s infinite,changeColor  2.5s   both alternate infinite ;

}
.figure2{
    animation: figureTransform  2s 2s infinite,changeColor 2.5s 1.5s  both alternate infinite;
}
.figure3{
    animation: figureTransform  2s 1s infinite ,changeColor 2.5s 3s  both alternate infinite;
}
.figure4{
    animation: figureTransform  2s 2s  infinite,figureDeformation 2s infinite,changeColor 2.5s 4.5s  both alternate infinite ;
}
.figure5{
    animation: figureTransform  2s 1.5s infinite,changeColor 2.5s 6s  both alternate infinite;
}
.figure6{
    animation: figureTransform  2s 1s infinite,figureDeformation 2s infinite,changeColor 2.5s 7.5s  both alternate infinite;
}
.figure7{
    animation: figureTransform  2s 2s infinite,changeColor 2.5s 9s  both alternate infinite;
}
.figure8{  
    animation: figureTransform  2s 3s infinite,changeColor 2.5s 10.5s  both alternate infinite;
}
.figure9{
    animation: figureTransform  2s 1.5s infinite,changeColor 2.5s 12s  both alternate infinite;
}
/*

.figure1 {
  animation-delay:  1.5s;
}
.figure2{
    animation-delay:  2s;
    
}
.figure3{
    animation-delay:  1s;
}
.figure4{

    animation-delay:  2s;
}
.figure5{
    animation-delay:  1.5s;
}
.figure6{
    animation-delay:  1s;
}
.figure7{
    animation-delay:  2s;
}
.figure8{  
    animation-delay:  13s;
}
.figure9{
    animation-delay:  1.5s;

}
.f{
  animation: figureTransform  1s   ease infinite;
  background-color: #000;
}*/
.wrapper_header{
    display: flex;
    position: absolute;
}
.wrapper_header div{
  background-color: #000;
    position: relative;
    width: 65px;
    height: 65px;

}



@keyframes figureTransform {
  0% {
    left: 0;
    border-radius: 10px;
  }
50%{
    border-radius: 50%;
}
  100% {
    border-radius: 10px;
  }
}
@keyframes figureDeformation{
    0%{
        width: 65px;
        
    }
    50%{
       transform: rotate(360deg);
    }
    100%{
        width: 65px;
    }
}
@keyframes changeColor {
  0%{
    background-color: #000;
  }
  50%{
    background-color: #ff0000;
  }
  100%{
    background-color: #000;
  }

}
.letter{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}



.name{
    margin-left: 20px;
}
